/*
COLORS:
section 1:
    green: #1ABC9C
    black: #222533
section 2 
    grey: #1A1C27
    green: #03FBCA
section 3:
    Header: #2C3E50 
    text gray: #A1B1BC
    button text: #2C3E50
    button border: #2C3E50
section 4:
    purple: #4E459A
    blue: #63D8FF
    red: #E36968
section 5:
    Header: #2C3E50
    gray: #A1B1BC
    button text: #2C3E50
    button border: #2C3E50
section 6:
    background: #222533
    in-ellipsesymbol: #2C3E50
    line blue: #21C2F8
    ellipse-border: opacity 50%
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #A1B1BC;
    font-size: 14px;
}

.header{
    height: 80px;
    background-color: #2D303C;
    background-size: cover;
    position: relative;
}
.menu-bar{
    display: block;
    position: relative;
    height: 100%;
    /* width: 100%; */
    left: 150px;
    transform: translate(5%,-46%);
}
.menu-bar ul{
    margin-left: 54px;
    font-size: 12px;
    float: left;
    /* top: 50%;
    left: 50%; */
    transform: translate(24.5%, 25%);
    /* display: inline-block; */
}
ul li{
    letter-spacing: 0.1px;
    margin-right: -1.4px;
    line-height: 100px;
    list-style: none;
    float: left;
}
ul li a{
    color: #FFF;
    text-decoration: none;
    font-family: "Lato";
    font-size: 15.86;
    padding: 0 20px;
}
ul li a:hover{
    color: #1ABC9C;
}
.logo{
    position: absolute;
    padding-left: 74px;
    padding-top: 60px;
}

.logo img, .logo h3{
    display: inline-block;
}

.logo img{
    height: 36px;
    transform: translateY(-2px);
}

.logo h3{
    padding-left: 10px;
    font-size: 28px;
    color: #fff;
    font-family: sans-serif;
    transform: translateY(-25%)
}

.fa-search, .fa-shopping-basket{
    font-size: 20px;
}
.fa-shopping-basket{
    margin-left: -20px;
}


/* section 1 */

.section-1{
    height: 784px;
    width: 100%;
    position: relative;
    background-color: #404149;
    opacity: 70%;
}

.text-box{
    position: absolute;
    top: 44%;
    left: 50.5%;
    transform: translate(-50%, -50%)
}

.heading-primary{
    color: #FFF;
}
.heading-primary-main{
    transform: translateY(-2px);
    letter-spacing: 0.4px;
    font-family: "Lato";
    font-weight: 900;
    display: block;
    text-transform: uppercase;
    font-size: 71px;
}
.heading-primary-sub{
    font-family: "Lato";
    letter-spacing: 0.7px;
    word-spacing: 1.8px;
    display: block;
    text-transform: capitalize;
    font-size: 19px;
    font-weight: 200;
    transform: translateX(39.8px)
}

.section-1 .fa-arrow-left, .section-1 .fa-arrow-right{
    top: 42.2%;
    height: 42px;
    width: 42px;
    background-color: transparent;
    border: 1px solid #FFF;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: "FontAwesome";
    position: absolute;
}
.section-1 .fa-arrow-right{
    right: 39px;
}

.section-1 .fa-arrow-left{
    left: 39px;
}

.section-1 .fa-arrow-left:hover, .section-1 .fa-arrow-right:hover{
    background-color: #03FBCA;
    color: #1A1C27;
}

.section-1 .next-page-arrow{
    position: absolute;
    display: block;
    bottom: 20px;
    left: 49.8%;
    color: #fff;
}
.section-1 .next-page-arrow img{
    height: 12px;
}

/* section 2 */

.section-2{
    position: relative;
    height: 520px;
}
.introduction{
    display: flex;
    flex-direction: row;
    height: 558.38px;
    width: 1557px;
    position: relative;
    left: 19%;
    top: 73px;

}
.introduction img, .introduction h1{
    display: block;
}
.introduction img{
    height: 386px;
}
.introduction h1{
    margin-bottom: 12px;
    color: #2C3E50;
    text-transform: uppercase;
    font-family: "Lato";
    font-weight: 900;
    font-size: 25px;
    word-spacing: 4px;
    letter-spacing: 1px;
}
.introduction p{
    letter-spacing: 0.3px;
    width: 445px;
    word-spacing: 2px;
    color: #A1B1BC;
    font-family: "Lato";
    font-size: 11px;
    line-height: 19px;
    word-spacing: 1.9px;
    margin-bottom: 21px;
}
.introduction .info{
    margin-left: 17px;
    width: 569.33px;
}
.introduction a{
    text-transform: uppercase;
    text-decoration: none;
    color: #2C3E50;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 36px;
    border: solid #2C3E50 2px;
    border-radius: 5px;
    word-spacing: 2px;
    padding: 7px 30px;
    letter-spacing: 0.4px;
}

.introduction a:hover{
    color: #fff;
    background-color: #2C3E50;
}


/* section 3 */

.section-3{
    color: #fff;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 289px;
}


.feature-1{
    background-color: #4E459A;
}
.feature-2{
    background-color: #63D8FF;
}
.feature-3{
    background-color: #E36968;
}
.section-3 p{
    position: relative;
    font-size: 10px;
    font-family: 'Lato';
    line-height: 24px;
    margin-bottom: 30px;
    line-height: 20px;
    letter-spacing: 0.5px;
    word-spacing: -0.4px;
}

.section-3 h4{
    margin-bottom: 8px;
    position: relative;
    margin-top: 59.3px;
    font-size: 12px;
    font-family: 'Lato';
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.section-3 a{
    font-family: 'Lato';
    font-size: 13px;
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 11px 15px;
}
.feature{
    margin: 0px, 30px;
}

.feature-3 a:hover{
    color: #E36968;
    background-color: #fff;
}
.feature-2 a:hover{
    color: #63D8FF;
    background-color: #fff;
}
.feature-1 a:hover{
    color: #4E459A;
    background-color: #fff;
}
.section-3 div div{
    height: fit-content;
    display: block;
    padding-left: 15%;
    padding-right: 10%;
}

/* section-4 */
.section-4{
    position: relative;
    height: 676px;
}
.items{
    display: flex;
    flex-direction: row;
    height: 558.38px;
    width: 1557px;
    position: relative;
    left: 19.8%;
    top: 73px;

}
.items img{
    right: 38.7%;
    top: -18px;
    position: absolute;
    z-index: 1;
    height: 150%;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(110, 110, 110) );
    filter: drop-shadow(-5px 5px 5px rgba(133, 133, 133, 0.363));
}
.items h1{
    margin-bottom: 12px;
    color: #2C3E50;
    text-transform: uppercase;
    font-family: "Lato";
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 2px;
}
.items p{
    color: #A1B1BC;
    font-family: "Lato";
    font-size: 11px;
    line-height: 19px;
    word-spacing: 1.9px;
    margin-bottom: 27px;
    letter-spacing: 0.3px;
}
.items .info{
    width: 30%;
    margin-right: 5%;
    margin-bottom: 5px;
}
.items a{
    text-transform: uppercase;
    text-decoration: none;
    color: #2C3E50;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 36px;
    border: solid #2C3E50 2px;
    border-radius: 5px;
    word-spacing: 2px;
    padding: 7px 32px;
}
.items hr{
    width: 100px;
}
.items a:hover{
    color: #fff;
    background-color: #2C3E50;
}
.items li{
    color: #A1B1BC;
    list-style:none;
    font-family: 'Lato';
    font-size: 12px;
    margin: 8.5px 0px;

}
.items .info span{
    color: #2C3E50;
    margin-right: 15px;
}

.items hr{
    border: none;
    height: 1px;
    background-color:#ECF0F1; 
    color: #ECF0F1;
    width: 370px;
}


/* section 5 */
.section-5{
    background-color: #fff;
    height: 500px;
}

.section-5 .background{
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: #222533;
    z-index: 2;
}

.container-fun-facts{
    top: 50%;
    left: 50.2%;
    transform: translateX(-50%);
    display: block;
    position: absolute;
    width: 79%;
}

.section-5 .top-dot{
    z-index: 4;
    height: 80px;
    width: 80px;
    display: inline-block;
}
.section-5 .top-dot, .section-5 .back-dot{
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}
.section-5 .back-dot{
    z-index: 3;
    height: 88px;
    width: 88px;
    opacity: 0.5;
}

.dot-1{
    left: 20%
}
.dot-2{
    left: 40%
}
.dot-3{
    left: 60%
}
.dot-4{
    left: 80%
}

.section-5 h1{
    font-size: 24.5px;
    font-family: 'Lato';
    font-weight: 900;
    color: #fff;
    line-height: 40px;
    top: -143px;
    left: 50%;
    transform: translateX(-46%);
    display: block;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-5 .fa{
    transform: translate(-50%, -50%);
    z-index: 5;
    display: block;
    position: absolute;
    color: #2C3E50;
    font-size: 25px;
}

.section-5 .rate-1{
    left: 20%;
    top: 80px;
}

.section-5 .rate-2{
    left: 40%;
    top: 80px;
}
.section-5 .rate-3{
    left: 60%;
    top: 80px;
}
.section-5 .rate-4{
    left: 80%;
    top: 80px;
}

.section-5 .rate{
    transform: translateX(-50%);
    display: block;
    position: absolute;
    font-family: 'Lato';
    font-size: 29px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1.1px;
    margin-top: -3px;
}

.section-5 .line{
    display: block;
    position: absolute;
    background-color: #21C2F8;
    height: 2.5px;
    width: 32px;
    transform: translate(-50%, 40px);
}

.section-5 .title{
    display: block;
    position: absolute;
    font-family: 'Lato';
    font-size: 15px;
    transform: translate(-50%, 50px);
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.8px;
}


.obj-wrapper{
    transform: translate(6px, -14px);
}